* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  font-size: 16px;
  color: #222;
  line-height: 30px;
  margin-bottom: 20px;
}

a {
  font-size: 16px;
  color: blue;
}

nav {
  background: orange !important;
}

nav ul li {
  float:left;
  list-style: none;
}

nav ul li a {
  color: #fff;
}

nav ul li a {
  text-decoration: none;
}

nav ul {
  overflow: auto;
}

#contents {
  padding: 0 1em 0 1em;
  max-width: 1024px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

th {
  text-align: left;
}

th, td {
  padding: 10px;
  font-size:  14px;
}

tbody tr:nth-of-type(2n){
  background: #eee;
}