* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  font-size: 16px;
  color: #222;
}

a {
  font-size: 16px;
  color: blue;
}

nav ul li {
  float:left;
  padding: 20px;
  list-style: none;
  background: #eee;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
}

nav ul {
  overflow: auto;
}

#container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1024px;
}

#contents {
  margin-top: 20px;
}